<div class="container">
  <h1 style="font-size: x-large">{{ title }}</h1>
  <app-alert
    *ngIf="invalid"
    [message]="errors"
    [type]="errorAlertType"
  ></app-alert>
  <app-alert
    *ngIf="correctAddition"
    [message]="correctAdditionMessage"
    [type]="successAlertType"
  ></app-alert>

  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <input
      type="text"
      formControlName="description"
      placeholder="Nombre de la cuenta"
    />
    <input
      type="number"
      formControlName="balance"
      placeholder="Cantidad inicial"
    />
    <div style="text-align: right; border: 0">
      <button type="submit">Añadir cuenta bancaria</button>
    </div>
  </form>
</div>
