<app-card>
  <div style="display: grid; place-content: space-between" (click)="onClick()">
    {{ account.name }}
    <span style="text-align: right; grid-column: 2"
      >{{ account.balance | moneyFormat }}
    </span>
  </div>
  <div *ngIf="open && transactions.length > 0" style="margin-top: 0.5vw">
    <app-transaction
      *ngFor="let transaction of transactions"
      [transaction]="transaction"
    >
    </app-transaction>
  </div>
  <div
    *ngIf="open && !(transactions.length > 0)"
    style="color: rgba(150, 150, 150, 1); margin-top: 2.5%"
  >
    {{ emptyTransactionsMessage }}
  </div>
</app-card>
