@media screen and (min-width: 767px) {
    .icon {
      display: grid;
      place-content: center;
      padding: 7px;
      border-radius: 5px;
      border: 0px;
      color: black;
      cursor: pointer;
    }
  }
  
  @media screen and (max-width: 767px) {
    .icon {
      display: grid;
      place-content: end;
      padding: 3px;
      border-radius: 5px;
      border: 0px;
      color: black;
      cursor: pointer;
    }
  }