@media screen and (max-width: 767px) {
  .card {
    min-width: 100%;
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    box-sizing: border-box;
    padding: 3vw;
    border-radius: 10px;
    margin-top: 2vw;
  }
  .subcard {
    max-width: 100%;
    background-color: #f1f2f5;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    box-sizing: border-box;
    padding: 2vw;
    border-radius: 10px;
    margin-top: 2vw;
  }
  .thin-card {
    min-width: 100%;
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    box-sizing: border-box;
    padding: 1vw;
    border-radius: 10px;
    margin-top: 2vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .card {
    min-width: 100%;
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    box-sizing: border-box;
    padding: 1.5vw;
    border-radius: 10px;
    margin-top: 2vw;
  }
  .subcard {
    max-width: 100%;
    background-color: #f1f2f5;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 10px;
    margin-top: 1vw;
    margin-bottom: 2vw;
  }
  .thin-card {
    min-width: 100%;
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    box-sizing: border-box;
    padding: 1vw;
    border-radius: 10px;
    margin-top: 2vw;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    min-width: 100%;
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    box-sizing: border-box;
    padding: 1.3vw;
    border-radius: 10px;
    margin-top: 1vw;
  }
  .subcard {
    max-width: 100%;
    background-color: #f1f2f5;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    box-sizing: border-box;
    padding: 1vw;
    border-radius: 10px;
    margin-top: 0.2vw;
    margin-bottom: 0.7vw;
  }
  .thin-card {
    min-width: 100%;
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    box-sizing: border-box;
    padding: 0.5vw;
    border-radius: 10px;
    margin-top: 1vw;
  }
}
