<div (click)="onClick()">
  <app-card type="subcard">
    <div
      *ngIf="isAccount(data)"
      style="
        display: grid;
        place-content: space-between;
        padding-top: 3px;
        padding-bottom: 3px;
      "
    >
      {{ data.name }}
      <span
        style="
          text-align: right;
          grid-column: 2;
          display: grid;
          place-content: center;
        "
        >{{ data.balance | moneyFormat }}
      </span>
    </div>
    <div
      *ngIf="isBudgetCategory(data)"
      style="
        display: grid;
        place-content: space-between;
        padding-top: 3px;
        padding-bottom: 3px;
      "
    >
      <app-badge [text]="data.name" [color]="data.color"></app-badge>
      <div
        style="
          text-align: right;
          grid-column: 2;
          display: grid;
          place-content: center;
        "
      >
        <div style="margin-top: 5px">
          <span>
            {{ transactionQuantityTotal | moneyFormat }}
          </span>

          <span style="color: #979797"> / {{ data.max | moneyFormat }} </span>
        </div>
      </div>
    </div>

    <div
      *ngIf="open && listOfTransactions.length >= 1"
      style="border-top: solid 2px rgb(218, 218, 218); margin-top: 1.2vh"
    >
      <div
        style="margin-top: 14px"
        *ngFor="let transaction of listOfTransactions"
      >
        <app-transaction
          [transaction]="transaction"
          [type]="getTrasanctionType()"
        >
        </app-transaction>
      </div>
    </div>
    <div
      *ngIf="open && listOfTransactions.length <= 0"
      style="color: rgba(150, 150, 150, 1); margin-top: 2.5%"
    >
      {{ emptyTransactionsMessage }}
    </div>
  </app-card>
</div>
