<app-card type="thin-card"
  ><app-date-controller (dateChange)="dateChange($event)"></app-date-controller
></app-card>

<app-card>
  Presupuesto:
  <h2 style="margin-block-end: 0px; margin-block-start: 0.3vw">
    {{ "1.231,5€ / 1.300€" }}
  </h2>
</app-card>

<app-budget-category
  title="Ingresos"
  [categories]="budget.incomeCategories"
  categoryName="incomeCategories"
  [sinceDate]="sinceDate"
></app-budget-category>

<app-budget-category
  title="Ahorro"
  [categories]="budget.savingCategories"
  categoryName="savingCategories"
  [sinceDate]="sinceDate"
></app-budget-category>

<app-budget-category
  title="Gasto"
  [categories]="budget.expensesCategories"
  categoryName="expensesCategories"
  [sinceDate]="sinceDate"
></app-budget-category>
