<app-card>
  <div
    style="display: flex; justify-content: space-between; margin-bottom: 10px"
  >
    <div style="display: grid; place-content: end">
      <h2 class="title">{{ title }}</h2>
    </div>

    <button class="add-icon" (click)="onAdd()">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
          fill="currentColor"
        />
      </svg>
    </button>
  </div>

  <app-modal [open]="addModalOpen" (closeEmmitter)="onClose()">
    <app-budget-category-form
      (closeEmitter)="onClose()"
      [categoryName]="categoryName"
    ></app-budget-category-form>
  </app-modal>
  <app-transactions-collapsable
    *ngFor="let category of categories"
    [data]="category"
  ></app-transactions-collapsable>
  <div
    *ngIf="categories.length === 0"
    style="color: rgba(150, 150, 150, 1); margin-top: 2.5%"
  >
    {{ emptyMessage }}
  </div>
</app-card>
