@media screen and (min-width: 767px) {
  .description-date-container {
    padding-right: 3vw;
  }
}

@media screen and (max-width: 767px) {
  .description-date-container {
    display: grid;
    padding-right: 3vw;
    text-wrap: balance;
  }
}
