<app-card>
  <div style="display: grid; place-content: space-between">
    <div>
      <app-badge
        [text]="transaction.budgetCategory.name"
        [color]="transaction.budgetCategory.color"
      ></app-badge>
      {{ transaction.description }}
      <span style="color: rgba(150, 150, 150, 1); margin-left: 0.5vw"
        >{{ transaction.date | date : "dd/MM/yyyy" }}
      </span>
    </div>

    <span style="text-align: right; grid-column: 3"
      >{{ transaction.value | moneyFormat }}
    </span>
  </div>
</app-card>
