<div style="display: grid; place-content: center">
  <div style="display: flex; gap: 15px">
    <button class="add-icon" id="left-arrow-button" (click)="onChangeMonth(-1)">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.2426 6.34317L14.8284 4.92896L7.75739 12L14.8285 19.0711L16.2427 17.6569L10.5858 12L16.2426 6.34317Z"
          fill="currentColor"
        />
      </svg>
    </button>
    <div style="display: grid; place-content: center">
      {{ date | date : "MMMM yyyy" | titlecase }}
    </div>

    <button class="add-icon" id="right-arrow-button" (click)="onChangeMonth(1)">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z"
          fill="currentColor"
        />
      </svg>
    </button>
  </div>
</div>
